.absence_card,
.absence_card_one {
  height: 70%;
  background-color: rgb(128, 216, 128);
  padding: 0 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.absence_card_one {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.absence_label {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.absence_float_button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: inherit;
  margin-right: 2px;
  margin-left: 2px;
  box-shadow: 0px 0px 2px black;
}
