.hidden {
  display: none;
}

.absence_card {
  height: 80%;
  background-color: rgb(128, 216, 128);
  padding: 0 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  cursor: grab;
}

.absence_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grab_button_start_one,
.grab_button_end_one,
.grab_button_end,
.grab_button_start {
  height: 100%;
  width: 5px;
  background-color: rgba(150, 155, 150, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1px;
  border-radius: 5px;
  position: absolute;
  cursor: ew-resize;
}

.grab_button_start {
  padding: 0 5px;
  left: 0;
}

.grab_button_end {
  padding: 0 5px;
  right: 0;
}

.grab_button_start_one {
  right: 100%;
}

.grab_button_end_one {
  left: 100%;
}

.absence_label {
  display: flex;
  height: 100%;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  cursor: inherit;
}

.absence_label_one {
  margin-left: 5px;
  cursor: inherit;
}

.absence_buttons {
  display: flex;
  flex-flow: row;
  margin-right: 20px;
  cursor: inherit;
}

.absence_buttons_one {
  flex-flow: column;
  margin-right: 2px;
  cursor: inherit;
}

.absence_float_button:first-child {
  margin-right: 5px;
}

.absence_buttons_one > .absence_float_button:first-child {
  margin-bottom: 5px;
}

.absence_float_button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: inherit;
  box-shadow: 0px 0px 2px black;
}
